.fondo{
    position: absolute;
    top: 0px;
    left: 0px;
    background: blue;
    width: 100%;
    height: 100%;
    animation: fondo 20s infinite;
}
.sol{
    background: #FFA500;
    width: 100px;
    height: 100px;
    position: absolute;
    left: -110px;
    top: 30%;
    border-radius: 100px;
    box-shadow: 0px 0px 0px 10px rgba(255, 140, 0, 0.5);
    animation: sol 20s infinite;
}

@keyframes sol {
    0%{
        left: -110px;
        top: 30%;
    }
    50%{
        left: 50%;
        top: 5%;
        background: #ffd900;
    }
    100%{
        left:110%;
        top: 30%;
        background: #bee6e1;
        box-shadow: 0px 0px 0px 10px rgba(49, 70, 73, 0.5);
    }
}

@keyframes fondo {
    50%{
        background: #A3D6DB;
    }    
   100%{
        background: #103d42;
   }
}

.nubes{
    background-image: url(/imagenes/png-transparent-sumdog-2d-cartoon-sky-cartoon-s-blue-text-cloud.png);
    background-repeat: repeat-x;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 100%;
    height: 174px;
    animation: nubes 10s linear infinite ;
}

@keyframes nubes {
    from{
        background-position: 0 0;
    }
    from{
        background-position: -100% 0 ; 
    }
    
}